doctype html
html
	head
		title=pagetitle
body
	block content
		h1 welcome to crud app
		p signup its free
		a(href="/signup") Click here to singup
		p login 
		a(href="/login") Click here to login 			