extends home
block content
	h1 Login into your Account
	h3 Using Google
		a(href="") Click here to login using google
	h3 Using Twitter
		a(href="") Click here to login using Twitter
	h3 Using Facebook
		a(href="") Click here to login using Facebook	
	form(method="post",action="/login")

		label(for="username") Enter username
		input(type="text",name="username",required,placeholder="Enter username")

		label(for="password") Enter password
		input(type="password",name="password",required,placeholder="Enter password")
		
		input(type="submit")
	h2 Forgot Password
		a(href="/forgot") Click here to reset the password	